
.card-ctrls {
  @include flex-box($gap: 1.4em);
  .ctrl-icon {
    width: 20px;
    height: 20px;
  }

  div[role="button"] {
    color: $moderate-blue;
    font-weight: 700;
    @include flex-box($gap: 0.5em);
    @include lighter($moderate-blue);
  }

  & > div[role="button"]:first-child.delete {
    color: $soft-red;
    @include lighter($soft-red);
  }
}
